.hero {
  position: relative;
  object-fit: fill;
  width: 100%;
  height: 0;
  padding-bottom: 42.1875%;
  background-size: contain;
  background-position: center right;
  background-color: $background-secondary-color;
  .caption {
    @extend %container;
  }

  h1 {
    @extend %column;
    @extend %col-xs-12;
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px gray;
    width: 93%;
    opacity: 80%;
    background-color: black;
    text-align: center;
    margin: 16px ​0px 0px 16px;
    text-align: center;
    position: absolute;
    top: 80%;
    font-weight: bold;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;

    @media screen and (max-width: $screen-md-max){
      padding-top: 0%;
    }
    @media screen and (max-width: $screen-xs-max){
      padding-top: 0%;
      top: 60%;
    }
  }
  @media screen and (max-width: 400px){
    padding-bottom: 50%;
  }
}
